<div class="block items-in-cart">
    <div class="content minicart-items" data-role="content">
        <div class="minicart-items-wrapper overflowed">
            <ol class="minicart-items">
                <!-- ko foreach: items() -->
                <li data-bind="css: $parent.productClasses">
                    <div class="product">
                        <!-- ko foreach: $parent.elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </div>
                </li>
                <!-- /ko -->
            </ol>
        </div>
    </div>
</div>
