<div id="modal-header" class="gslc-header">
    <h1 class="modal-title" data-role="title">Checkout</h1> <!-- data-bind="text: modalTitle" -->
    <button type="button" class="action-dropdown" data-bind="click: summaryToggle" id="show-summary">
        <i class="material-icons ico-cart">shopping_cart</i>
        <!-- <span data-bind="text: itemsCount()"></span> -->
        <span data-bind="text: getOrderTotal()"></span>
        <i class="material-icons ico-arrow"></i>
    </button>
</div>
<div id="opc-sidebar" data-bind="fadeVisible: visible()">
    <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="opc-block-shipping-information">
        <!-- ko foreach: getRegion('shipping-information') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>
