<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gomage_super_light_checkout_configuration>
            <general>
                <page_title>GoMage Super Light Checkout</page_title>
                <enable_discount_codes>1</enable_discount_codes>
            </general>
            <checkout_address_fields_required>
                <firstname>1</firstname>
                <lastname>1</lastname>
                <country_id>1</country_id>
                <city>1</city>
                <street>1</street>
                <postcode>1</postcode>
                <telephone>1</telephone>
                <region_id>2</region_id>
            </checkout_address_fields_required>
        </gomage_super_light_checkout_configuration>
    </default>
</config>
