<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="SuperLightCheckoutArrayNodeConfig" type="Magento\Framework\Config\Dom\ArrayNodeConfig">
        <arguments>
            <argument name="assocArrayAttributes" xsi:type="array">
                <item name="(/item)+" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SuperLightCheckoutConverterDomFlat" type="Magento\Framework\Config\Converter\Dom\Flat">
        <arguments>
            <argument name="arrayNodeConfig" xsi:type="object">SuperLightCheckoutArrayNodeConfig</argument>
        </arguments>
    </virtualType>
    <type name="GoMage\SuperLightCheckout\Model\Layout\FetchArgs">
        <arguments>
            <argument name="checkoutConverterDomFlat" xsi:type="object">SuperLightCheckoutConverterDomFlat</argument>
        </arguments>
    </type>
    <preference for="GoMage\SuperLightCheckout\Api\GuestQuoteItemManagementInterface" type="GoMage\SuperLightCheckout\Model\GuestQuoteItemManagement" />
    <preference for="GoMage\SuperLightCheckout\Api\QuoteItemManagementInterface" type="GoMage\SuperLightCheckout\Model\QuoteItemManagement" />
    <preference for="GoMage\SuperLightCheckout\Model\QuoteItemManagement\ResponseDataInterface" type="GoMage\SuperLightCheckout\Model\QuoteItemManagement\ResponseData" />
    <preference for="GoMage\SuperLightCheckout\Api\CheckoutAdditionalManagementInterface" type="GoMage\SuperLightCheckout\Model\CheckoutAdditionalManagement" />
    <preference for="GoMage\SuperLightCheckout\Api\GetAddressByPostCodeInterface" type="GoMage\SuperLightCheckout\Model\GetAddressByPostCode" />
    <preference for="GoMage\SuperLightCheckout\Model\GetAddressByPostCode\ResponseDataInterface" type="GoMage\SuperLightCheckout\Model\GetAddressByPostCode\ResponseData" />
    <preference for="GoMage\SuperLightCheckout\Model\QuoteItemManagement\QuoteMaskedIdResponseInterface" type="GoMage\SuperLightCheckout\Model\QuoteItemManagement\QuoteMaskedIdResponse" />

    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="gomage_super_light_checkout_change_quote_address_validator"
                type="GoMage\SuperLightCheckout\Plugin\Quote\ChangeAddressValidatorAccordingToConfiguration"/>
    </type>

    <type name="Magento\Quote\Model\QuoteRepository">
        <plugin name="gomage_super_light_checkout_hold_exception_if_quote_id_null"
                type="GoMage\SuperLightCheckout\Plugin\Quote\HoldExceptionIfQuoteIdNull"/>
    </type>
</config>
