<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_gomage_super_light_checkout_configuration">
        <observer name="gomage_super_light_checkout_terms_and_conditions_checker"
                  instance="GoMage\SuperLightCheckout\Observer\TermsAndConditionsChecker" />
    </event>
</config>
