<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gomage" translate="label" sortOrder="250">
            <label>GoMage</label>
        </tab>
        <section id="gomage_super_light_checkout_configuration" translate="label" type="text" sortOrder="200"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Super Light Checkout</label>
            <tab>gomage</tab>
            <resource>GoMage_SuperLightCheckout::super_light_checkout</resource>
            <group id="general" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Enable GoMage Super Light Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_shipping_method" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Shipping Method</label>
                    <source_model>GoMage\SuperLightCheckout\Model\Config\Source\ShippingMethods</source_model>
                </field>
                <field id="default_payment_method" translate="label" type="select" sortOrder="60"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Payment Method</label>
                    <source_model>GoMage\SuperLightCheckout\Model\Config\Source\PaymentMethods</source_model>
                </field>
                <field id="page_title" translate="label" type="text" sortOrder="70"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page Title</label>
                </field>
                <field id="page_content" translate="label" type="textarea" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page Content</label>
                </field>
                <field id="billing_and_shipping_address_are_the_same_checked" translate="label" type="select"
                       sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>"My billing and shipping address are the same" checked</label>
                    <source_model>GoMage\SuperLightCheckout\Model\Config\Source\CheckboxOptions</source_model>
                </field>
                <field id="allow_to_change_qty" translate="label" type="select" sortOrder="120"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow to change Qty</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_to_remove_item_from_checkout" translate="label" type="select" sortOrder="140"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow to Remove Item from Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_enabled_discount_codes" translate="label" type="select" sortOrder="160"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Discount Codes</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="registration" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Registration</label>
                <field id="checkout_mode" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Checkout Mode</label>
                    <source_model>GoMage\SuperLightCheckout\Model\Config\Source\CheckoutMode</source_model>
                </field>
                <field id="auto_registration" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Auto-Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="create_an_account_checkbox" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Create an Account checkbox</label>
                    <source_model>GoMage\SuperLightCheckout\Model\Config\Source\CheckboxOptions</source_model>
                    <depends>
                        <field id="auto_registration">0</field>
                    </depends>
                </field>
            </group>
            <group id="checkout_address_fields_sorting" translate="label" type="text" sortOrder="150" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Address fields sorting on checkout</label>
                <field id="fields_form" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <frontend_model>GoMage\SuperLightCheckout\Block\Adminhtml\Config\CheckoutAddressFieldsSorting</frontend_model>
                </field>
            </group>
            <group id="terms_and_conditions" translate="label" type="text" sortOrder="250" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Terms And Conditions</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Terms and Conditions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="autofill_by_zipcode" translate="label" type="text" sortOrder="280" showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Google Autofill by Zip Code</label>
                <field id="enable" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Zip Code Autofill</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="google_api_key" translate="label" type="text" sortOrder="25" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Google API Key</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="enabled_zip_caching" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Zip Caching</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="clear_postcode_button" translate="label comment" type="button" sortOrder="35"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>GoMage\SuperLightCheckout\Block\Adminhtml\Config\AutofillByZipcode\ClearPostcodeCacheButton</frontend_model>
                    <depends>
                        <field id="enabled_zip_caching">1</field>
                    </depends>
                </field>
                <field id="api_mode" translate="label" type="multiselect" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Mode</label>
                    <source_model>GoMage\SuperLightCheckout\Model\Config\Source\AutofillByZipCode\Mode</source_model>
                    <comment>If not selected, all apis will be used in order.</comment>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="disable_address_fields" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Disable Address Fields</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="social_login_facebook" translate="label" type="text" sortOrder="550" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Facebook</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Create app <a href="https://developers.facebook.com/apps" target="_bank">here</a>]]></comment>
                </field>
                <field id="app_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook App Id</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="app_secret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook App Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="redirect_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>GoMage\SuperLightCheckout\Block\Adminhtml\Config\RedirectUrl</frontend_model>
                    <label>Valid OAuth redirect URIs</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="social_login_google" translate="label" type="text" sortOrder="600" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Google</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Create app <a href="https://code.google.com/apis/console/" target="_bank">here</a>]]></comment>
                </field>
                <field id="app_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="app_secret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="redirect_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>GoMage\SuperLightCheckout\Block\Adminhtml\Config\RedirectUrl</frontend_model>
                    <label>REDIRECT URIS</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="social_login_twitter" translate="label" type="text" sortOrder="650" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Twitter</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Create app <a href="https://dev.twitter.com/apps" target="_bank">here</a>]]></comment>
                </field>
                <field id="app_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Consumer Key</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="app_secret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Consumer Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="redirect_url" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>GoMage\SuperLightCheckout\Block\Adminhtml\Config\RedirectUrl</frontend_model>
                    <label>Callback URL</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
