.left {
    float:left;
    margin-right: 1%;
}

.right {
    float:right;
}

#checkout-popup #checkout .previous-step {
    cursor: pointer;
}

.popup-checkout .modal-inner-wrap {
    width: 57%;
}

#checkout-popup #checkout #modal-header {
    display: flow-root;
    padding-bottom: 3%;
    margin-top: 1%;
}

#checkout-popup #checkout #modal-header button.action-dropdown {
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 0;
    color: #333;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -.025em;
    padding: .7rem 3.3rem .8rem 1.5rem;
    position: relative;
    vertical-align: baseline;
    z-index: 2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5) !important;
}

#checkout-popup #checkout #modal-header button.action-dropdown span {
    opacity: 0.6;
}

#checkout-popup #checkout #modal-header button.action-dropdown:after {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: .5rem .4rem 0;
    content: '';
    height: 0;
    margin-top: -.2rem;
    position: absolute;
    top: 50%;
    transition: all .2s linear;
    width: 0;
    right: 1.25rem;
}

#checkout-popup #checkout #modal-header .action-dropdown.active:after {
    transform: rotate(180deg);
}

#checkout-popup #checkout #modal-header .modal-title {
    width: 80%;
}

#checkout-popup #checkout #modal-header #show-summary:before {
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 22px;
    color: inherit;
    content: '\e611';
    font-family: 'luma-icons';
}

#checkout-popup #checkout #opc-sidebar {
    position: absolute;
    right: 0;
    z-index: 100;
    padding-right: 3rem;
}

#checkout-popup #checkout #opc-sidebar .items-in-cart {
    margin-bottom: 0;
}

#checkout-popup #checkout #opc-sidebar .items-in-cart .product-item-block {
    padding: 0;
}

#checkout-popup #checkout #opc-sidebar .items-in-cart .product-item-details {
    padding-left: 0;
}

#checkout-popup #checkout #opc-sidebar .items-in-cart .product-item-details .product-item-name-block {
    display: inline;
    float: left;
    width: 60%;
}
#checkout-popup #checkout #opc-sidebar .items-in-cart .product-item-details .product-item-name {
    float: left;
    width: 85%;
}
#checkout-popup #checkout #opc-sidebar .items-in-cart .product-item-details #after-details {
    display: inline-flex;
}

 #checkout-popup #checkout #opc-sidebar .items-in-cart .product-item-details .value{
     float: right;
     opacity: 0.5;
 }

#checkout-popup #checkout #opc-sidebar .items-in-cart  .minicart-items-wrapper {
    padding: 0;
}

#checkout-popup #checkout #opc-sidebar .opc-block-summary .table-totals {
    border-collapse: unset;
}
#checkout-popup #checkout #billing-address-details,
#checkout-popup #checkout #shipping-address-details {
    padding-top: 5%;
}

#checkout-popup #checkout #billing-address  .field-select-billing .control{
    padding-top: 5%;
}
#checkout-popup #checkout #page-content {
    margin-bottom: 2%;
}

.address-half {
    width: 48%
}

.half {
    width: 49.5%
}

.full {
    width: 100%;
}

.fieldset > .form-create-account> .field.required > .label:after {
    content: '*';  color: #e02b27;  font-size: 1.2rem;  margin: 0 0 0 5px;
}
